<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="edu.gudh.springdemo.bean.User">
    	<constructor-arg value="李四"></constructor-arg>
    	<constructor-arg value="女"></constructor-arg>
    </bean>

    <bean autowire="byName" id="userAction" class="edu.gudh.springdemo.action.UserAction">
        
    </bean>
    

</beans>